@charset "UTF-8";

body{
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Modelo de layout flexbox */


/* caixa principal (pai) que receberá as outras */
 .wrapper{
    /* para transformar em blocos */
    display: flex;
    /* row - linha (tem em coluna)  */
    flex-direction: row;
    /* para os blocos não ficarem colados um no outro quando atingir 100% */
    flex-wrap: wrap;
    /*  alinha blocos na horizontal dentro do conteudo principal*/
    justify-content: center;
    /* alinha os blocos na vertical */
    align-items: center;
    width:100%;
    height:auto;
    /* background-color: orange; */
    padding:0px;
 }


 /* logo do site */
 .logo{
    width:8%;
    height:10%;
    /* background-color: yellow; */
 }

 .logoimg{
   width:100%;
   height:10%;
 }

 /* span do nome da clinica */
.odonto{
   font-weight:600;
   font-size:20px;
}

.odonto a{
   color: blue;
}

.odonto a:hover{
   text-decoration: underline;
   color: darkblue;
}


 /* menu de navegação */
 .menu{
    width:90%;
    height:72px; 
    text-align: end;
 }

 .menu nav ul li {
   display: inline;
   list-style-type:none;
   padding-right:3%;
 }

 a{
   text-decoration:none; 
   color:blue;
 }

 a:hover{
   color: darkblue;
   text-decoration: underline;
 }

/* banner principal do site */
 .banner_principal{
    width:100%;
    height:450px;
    /* background-color: slateblue; */
 }

 .bannerimg{
   width:100%;
   height:450px;
 }

/* caixinhas dos serviços disponiveis */
 .servicos{
    width:19%;
    height:auto;
    margin:2%;
    padding:1%;
    border-radius:0px 20px;
    text-align: center;
    background-color:rgb(232, 232, 232);
 }

 .servicoimg{
   width:30%;
   height:auto;
 }

 h1{
   font-size:3vw;
   text-align: center;
 }


 /* imagem e texto do site */
 .conteudo{
    width:48%;
    height:auto;
    margin:1%;
    /* padding-bottom:150px; */
    /* background-color: turquoise; */
 }

 .conteudoimg{
   width:100%;
   height:500px;

 }

 .textocont{  
   padding-left:5px;
   text-align: justify;
 }

/* Redes sociais */

 .redesociais{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1%;
    /* background-color: salmon; */
 }

 .rede{
   height:50px;
   margin:1%;
 }

/* Rodapé */

 .footer{
    width:100%;
    height:auto;
    background-color: royalblue;
    text-align: center;
 }

 /* CSS página ODONTO */

 .odontoimg{
   width:100%;
   height:auto;
   /* background-color: violet; */
 }

 /* cor azul no titulo falando sobre a equipe */
 .equipe{
   color:blue;
   font-weight:300px;
   font-size:35px;
 }

 .conttexto{
   width:100%;
   height:auto;
   /* background-color: cadetblue; */
 }

 /* CSS página SERVIÇOS */

.menulateral{
   width:32%;
   height:300px;
   border-radius:10px 0px 0px 10px;
   /* background-color:brown; */
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding-bottom:20px;
}

.botaolateral{
   width:100%;
   height:50px;
   color:blue;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   transition:transform 0.5s ease;
}

.botaolateral:hover{
    transform: scale(1.2) translate(10px, -8px);
}


nav ul li{
   list-style-type: none;
}

.imagemservico{
   width:68%;
   height:300px;
   background-color: violet;
   padding-bottom:20px;
}

.imgdentista{
   width:100%;
   height:320px;
}

.textoservico{
   width:100%;
   height:auto;
   /* background-color: yellow;  */
}

/* CSS página contato */

.imgcontato{
   width:42%;
   height:500px;
   /* background-color: blueviolet; */
   padding:10px;
}

/* media query para responsividade em dispositivos menores */
@media (min-width: 797px){
   .imgcontato{
      content: url(../Imagens/imgcontato.png);
   }
}

@media (max-width: 797px){
   .imgcontato{
      display: none;
   }
}

.form{
   width:45%;
   height:500px;
   /* background-color: aquamarine; */
   margin:30px;
   padding:10px;
}

input{
   width:95%;
   border:1px solid black;
   border-radius:5px;
   padding:5px;
   margin:5px;
}

textarea{
   width:95%;
}

.button{
   width:25%;
   padding:5px;
   margin-top:15px;
}

/* breakpoints - cor da tela em diferentes dispositivos  */

/* @media(min-width: 567px){ */
   /* body{ */
      /* background-color: red; */
   /* } */
/* } */

/* @media(min-width: 768px){ */
   /* body{ */
      /* background-color: blue; */
   /* } */
/* } */

/* @media(min-width: 992px){ */
   /* body{ */
      /* background-color: green; */
   /* } */
/* } */

/* @media(min-width: 1200px){ */
   /* body{ */
      /* background-color: lightpink; */
   /* } */
/* } */

/* breakpoints - tamanho da tela em diferentes dispositivos */
 

/* media query para a parte de serviços */
@media screen and (min-width: 375px) {
   .servicos{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width:80%;
   height:auto;
   margin: 1%;
   font-size: 1.3em; /* Fonte Responsiva */
   padding:10%;
}   

   
}

@media screen and (min-width: 576px) {
   .servicos{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width:80%;
   height:auto;
   margin: 1%;
   font-size: 1.3em; /* Fonte Responsiva */
   padding:10%;
}   
}

@media screen and (min-width: 768px) {
   .servicos{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width:15%;
   margin-right:3%;
   font-size: 1.1vw; /* Fonte Responsiva */
   padding:3%;
}   
}

@media screen and (min-width: 992px) {
   .servicos{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width:15%;
   margin:2%;
   padding:3%;
}   
}

@media screen and (min-width: 1200px) {
   .servicos{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width:15%;
   margin:2%;
   padding:3%;
}   
}

/* media query para parte do conteudo */
@media screen and (min-width: 375px) {
   .conteudo{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width:100%;
   height:auto;
   }
}

@media screen and (min-width: 576px) {
   .conteudo{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width:80%;
   height:auto;
   margin: 1%;
   font-size: 1.3em; /* Fonte Responsiva */
   padding:10%;
}   
}

@media screen and (min-width: 768px) {
   .conteudo{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width:80%;
   margin-right:3%;
   font-size: 1.1em; /* Fonte Responsiva */
   padding:3%;
}   
}

@media screen and (min-width: 992px) {
   .conteudo{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width:40%;
   font-size:1.3em;
}   
}

@media screen and (min-width: 1200px) {
   .conteudo{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width:40%;
   font-size:1.5em;
}   
}